<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartAddresses" value="http://www.zhihu.com/roundtable/ecohistory/comments"/>
    <add key="CrawlStoreConnection" value="Server=chenwulab-sql;Database=CrawlStore;Trusted_Connection=True;"/>
    <add key="ParserTimeout" value="1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>